<ion-card>
  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>El perímetro de un círculo es la longitud de la línea que forma su borde.</p>
    <p>
      <b>Donde:</b><br>
      P: perímetro<br>
      r: radio del círculo<br>
      π: 3.1416
    </p>
    <img src="assets/images/circulo.png" alt="Diagrama de un círculo" class="image-small">
    <p>Ingrese el radio del círculo:</p>
    <ion-input [(ngModel)]="radio" type="number" placeholder="Radio (cm)"></ion-input>
    <ion-button expand="block" (click)="calcular()">Calcular Perímetro</ion-button>
    <p *ngIf="resultado !== null">El perímetro es {{ resultado.toFixed(2) }} cm</p>
  </ion-card-content>
</ion-card>
